.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #e5774d;
  position: relative;
  margin-bottom: 30px;

  .maim-menu {
    position: absolute;
    left: 30px;
  }
}

.search-container {
  padding: 10px 0;
  display: flex;
  align-items: center;
  border: 1px solid #e5774d;
  border-radius: 30px;
  line-height: 24px;
  width: 500px;
  height: 50px;
  background-color: white;

  .searcher {
    width: 100%;
    min-width: 260px;
    margin: 0 12px;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .material-icons {
    margin-left: 10px;
    transform: rotate(90deg);
  }
}

.content {
  height: 100vh;
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  flex-wrap: wrap;
  justify-content: center;

 .category-card {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    box-sizing: border-box;
    border: 1px solid #DADADA;

    .mat-card-image {
      align-self: center;
      height: 250px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .card-title {
      font-weight: 700;
      font-size: 30px;
      line-height: 32px;
    }

    .card-description {
      list-style: none;

      .item {
        .item-link {
          text-decoration: none;
          color: #41991E;
          font-size: 20px;
          line-height: 22px;

          &:hover {
            color: #e5774d;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .company-card {
    width: 100%;
    max-width: none;
  }
}
