.title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.wrapper {
  height: 100vh;
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  flex-wrap: wrap;
  justify-content: center;
}
