.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: var(--secondary-dark-green);

  .copyright {
    margin: 0;
    font-family: var(--primary-font);
    font-size: 20px;
    line-height: 24px;
  }
}
