.toolbar {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  padding: 0 20px;
  position: relative;
  height: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 30px;
}

.brand-header {
  .logo {
      max-height: 100px;
  }
}

.slogan {
  white-space: pre-wrap;
  flex-grow: 2;
  text-align: center;
  font-family: 'Crafty Girls', cursive;
  font-size: 30px;
  line-height: 36px;
  font-weight: 800;
  color: #e5774d;
}

.header-title {
  white-space: pre-wrap;
  font-family: 'Rampart One', cursive;
  font-size: 50px;
  line-height: 56px;
  }

.cart {
  .cart-icon {
    max-height: 100px;
  }
}

.sing-in {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: green;
  font-size: 24px;

  .avatarka {
    max-height: 80px;
  }
}
@media screen and (max-width: 768px) {
.header-title {
  font-size: 6vmin;
  line-height: 6vmin;
}
}
