<mat-toolbar class="toolbar">
  <a routerLink="/" class="brand-header">
    <img class="logo" src="/assets/img/logo.png" alt="logo" />
  </a>
  <h2 class="header-title">Komora</h2>
  <h3 class="slogan">Get set and shop!</h3>

  <a routerLink="../login" class="sing-in">
    <img class="avatarka" src="/assets/img/avatarka.jpg" alt="logo" />
    <p class="sign">Log in</p>
  </a>

  <a routerLink="/cart" class="cart">
    <img class="cart-icon" src="/assets/img/cart-icon.jpg" alt="cart" />
  </a>
</mat-toolbar>
