<div class="wrapper">
  <div class="maim-menu">
    <button mat-fab [ngStyle]="{'background-color': '#ADD09D'}">
      <mat-icon mat-button [matMenuTriggerFor]="menu">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item><mat-icon>view_list</mat-icon>Catalogy</button>
      <button mat-menu-item><mat-icon> chat</mat-icon>Online chat</button>
      <button mat-menu-item> <mat-icon class="cart-icon">shopping_cart</mat-icon>Cart</button>
      <button mat-menu-item><mat-icon>info</mat-icon>Contacts</button>
    </mat-menu>
  </div>

  <div class="search-container">
    <i class="material-icons">search</i>
    <input class="searcher" type="search" placeholder="Search"/>
  </div>
</div>
